<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <!--<ul th:each="animal : ${animals}">
    <li th:text="${animal.getName()}"></li>
</ul> -->
<h2>Animal List</h2>
<table>
    <tr>
        <td><strong>Name</strong></td>
        <td><strong>Age</strong></td>
    </tr>
    <c:forEach items="${animal}" var="animal">
        <tr>
            <td>${animal.name}</td>
            <td>${animal.age}</td>
        </tr>
    </c:forEach>
</table>
</body>
</html>
</body>
</html>