<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello world!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:if="${username != null}">
    <h2 th:text="${'Hello ' + username}"></h2>
</div>
<div th:if="${anonymous != null}">
    <h2 th:text="${anonymous}"></h2>
</div>
<p>This will be me pretty webpage with alot of kewl stuff.</p>

<div sec:authorize="hasAuthority('ROLE_USER')">
    <div class="col-md-10 col-md-offset-2">
        <h2>Just a simple user logged. Go play in dirt or smth</h2>
    </div>
</div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
    <div class="col-md-10 col-md-offset-2">
        <h2>This be pretty ADMIN panel for da admin people in admin world</h2>
    </div>
    </div>
    <div sec:authorize="hasAuthority('ROLE_USER_FACEBOOK')">

        <div class="col-md-10 col-md-offset-2">
            <h2>Facebook user logged in</h2>
        </div>
    </div>

<div sec:authorize="isAnonymous()">
    <div class="col-md-10 col-md-offset-2">
        <h2>No logged user. WTF IZ DIZ? Change this NOW peasant!</h2>
    </div>
</div>

<p>List hobbies by category</p>
<a th:href="@{/GYM}">Gym</a>
<a th:href="@{/ARTS_AND_CRAFTS}">Arts & craft</a>
<a th:href="@{/CULINARY}">Culinary</a>
<a th:href="@{/MAP}">Map</a>

</body>
</html>