<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<p>This will be me pretty webpage with alot of kewl stuff.</p>
<p>Holy maccaroni!</p>
<p>Look at the awesome <a href="/animal/animalForm">form</a> where you can write down your favourite animal!</p>
<p>While doing so don't forget to pray for Kota</p>
<p>Kota [2001-2012] always in our hearts [ <a href="/hobby/test">*</a>]</p>




</body>
</html>