<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hobby edit</title>
</head>
<body>
<h1>HOBBY EDIT</h1>
<form action="/hobby/add" th:action="@{/hobby/save}" method="post" name="hobby" th:object="${hobby}">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" path="name" name="name" th:field="*{name}" /> <br />
                <errors path="name" cssClass="error" />
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" path="description" name="description" th:field="*{description}" /> <br />
                <errors path="name" cssClass="error" />
            </td>

        <tr>
            <td>Category</td>

            <td>
                <select th:field="*{category}">
                    <option th:each="category : ${T(com.hoppy.hobbyProject.domain.Category).values()}"
                            th:value="${category}"
                            th:text="${category}">
                    </option>
                </select>

            </td>

            <td>
                <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Error</div>
            </td>
        </tr>


        </tr>
        <input type="hidden" name="hobbyId" th:value="${hobbyId}"/>
        <tr>
            <td colspan="2"><button type="submit">EDIT IT</button></td>
        </tr>

    </table>
    <ul>
        <li th:each="imageName : ${hobby.getFileNames()}">
            <img th:src="@{/images/{img}(img=${imageName})}"/>
            <a th:href="@{deleteImage(hobbyId=${hobby.getId()}, imageName=${imageName})}">Delete</a>
            <a th:href="@{changeImage(hobbyId=${hobby.getId()}, imageName=${imageName})}">ChangeImage</a>
        </li>
    </ul>
</form>
</body>
</html>
