<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Wpisz coś ładnego, nie wstydź się</title>
    <style type="text/css">
        .error {
            color: red;
        }
        table {
            width: 50%;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        table td {
            border: 1px solid #565454;
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>NOWE HOBBY</h1>
<form action="/hobby/add" th:action="@{/hobby/add}" method="post" name="hobby" th:object="${hobby}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" path="name" name="name" th:field="*{name}" /> <br />
                <errors path="name" cssClass="error" />
            </td>
            <td>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" path="description" name="description" th:field="*{description}" /> <br />
                <errors path="name" cssClass="error" />
            </td>
            <td>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</div>
            </td>
        </tr>
        <tr>
            <td>Current Image ID</td>
            <td>
                <input type="number" path="currentImageID" name="currentImageID" th:field="*{currentImageID}" /> <br />
                <errors path="currentImageID" cssClass="error" />
            </td>
            <td>
                <div th:if="${#fields.hasErrors('currentImageID')}" th:errors="*{currentImageID}">Error</div>
            </td>
        </tr>
        <tr>
            <td>Image file</td>
            <td><input id ="file" type="file" name="file"></td>
            <td>
                <div th:if="${#fields.hasErrors('file')}" th:errors="*{file}">Error</div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Uczyń</button></td>
        </tr>
    </table>
</form>
<p>You done? Then go <a href="/">back</a> where you came from</p>
<p>Let's what we have on a  <a href="/hobby/list">list</a></p>
</body>
</html>